.customCenter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 50%; width: 60%;
}

#question{
    width: 100%;
    text-align: center;
}

.buttonCenter{
width: 100%;
text-align: center;
padding: 30px;
}

#startButton{
    width: 60%;
    margin: auto;
    border: 2px solid black;
    margin-top: 100px;
}

body{
    background-image: url("images/map.jpg.jpg");
    background-size: cover;
}

.footerstyle{
    height: 80px;
    
}